<!DOCTYPE html>

{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Pagina de Prueba</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  </head>
  <body>
    <h1 class = "ejemplo1">Hola Mundo templates Home</h1>
    <h2 class = "ejemplo2">Cargando estilos</h2>
  </body>
</html>

<!-- Anchors (links) -->
<a href="about.html" class="button">Learn More</a>
<a href="#features" class="button">View All Features</a>

<!-- Buttons (actions) -->
<button class="submit success button">Save</button>
<button type="button" class="alert button">Delete</button>