{% extends 'base.html' %}

{% block title %}
    Registrar Empleados
{% endblock title %}

{% block content %}   
{%include "includes/header.html" %}


<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell large-10">Registar Departamento - Empleado</h1>
        <form class="cell grid-x grid-margin-x"method="POST" enctype="multipart/form-data"> {% csrf_token %}
            
            <div class="cell large-12">
                <h3>Datos Empleado</h3>
            </div>
            <div class="cell large-6">
                <label>Nombres
                    {{ form.nombre }}
                </label>
            </div>
            <div class="cell large-6">
                <label>Apellido
                    {{ form.apellido }}
                </label>
            </div> 
            
            <div class="cell large-12">
                <h3>Datos Departamento</h3>    
            </div>
            
            <div class="cell large-6">
                <label>Departamento
                    {{ form.departamento }}
                </label>
            </div>
            <div class="cell large-6">
                <label>Shortname
                    {{ form.shortname }}
                </label>
            </div>
            <button class="submit success button" type="submit">Registrar</button>                       
            {% comment %} <button type="submit">Registrar</button> {% endcomment %}
        </form>
{% endblock content %}